$--primary-1: #E8FFF9 !default;
$--primary-2: #AAEADB !default;
$--primary-3: #74D5C2 !default;
$--primary-4: #46C0AC !default;
$--primary-5: #1FAB98 !default;
$--primary-6: #009688 !default;
$--primary-7: #00847B !default;

$--gray-1: rgba(128,128,128,.1) !default;
$--gray-2: rgba(128,128,128,.2) !default;
$--gray-4: rgba(128,128,128,.4) !default;
$--gray-6: rgba(128,128,128,.6) !default;
$--gray-8: rgba(128,128,128,.8) !default;
$--gray-10: rgba(128,128,128,1) !default;

$--warning-1: #FFE0B2 !default;
$--warning-2: #FFCC80 !default;
$--warning-3: #FFB74D !default;
$--warning-4: #FFA726 !default;
$--warning-5: #FF9800 !default;
$--warning-6: #FB8C00 !default;
$--warning-7: #F57C00 !default;
$--warning-8: #EF6C00 !default;
$--warning-9: #E65100 !default;